# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage files
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# mypy
.mypy_cache/

# Pyre
.pyre/

# pytype
.pytype/

# pylint
.pylint.d/

# Pytest
.pytest_cache/

# Local env files
.env
.env.*

# Database
*.sqlite3

# Logs
*.log

# macOS and Windows specific
.DS_Store
Thumbs.db
